* {
  margin: 0;
  padding: 0;
  box-sizing: 0;

}

body {
  background-color: var(--tg-theme-secondary-bg-color);
  /* background-image: url('/public/pics/denim1.jpg');
  background-position: center;
  background-size: contain */
  --swiper-theme-color: #B8AE8D;
}


@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');


.hero {
  width: 100%;
  position: relative;

  /* z-index: -1; */
}





.handle {
  /* width: 80px; */
  /* height: 80px; */
  background-color: white;
  border-radius: 40px;
}

.active {
  border: 1px solid hsl(208, 100%, 47.3%);
  background: hsl(206, 100%, 50%);
  width: 120px;
  height: 120px;
  border-radius: 8px;
  transition: width 0.5s ease-out;

}

.toggled {
  width: 200px;
}


.container {
  font-family: sans-serif;
}

.dates {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
}

/* .card {
  overflow: hidden;
  box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
} */

.secondary {
  background-color: white;
  height: 2.5rem;
  padding: 0.5rem;
  justify-content: center;
  width: 8rem;
  margin-left: 1rem;
}

/* .compact {
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border-radius: 1.5rem;
} */

/* .expanded .title {
  font-size: 5em;
  color: white;
} */

.compact .title {
  font-size: 1.5em;
}


.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}




.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.Ibibutton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: -5px;
  left: -3px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 5px 5px 10px #d4d4d4,
    -5px -5px 10px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

button>svg {
  margin-top: 8px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}


.selected {
  padding: 6px 18px !important;
  font-size: 14px;
  transition: 0.4s;
  font-weight: 200;

  background-color: #B8AE8D !important;
  font-family: 'Oswald', sans-serif;
}

.unselected {
  padding: 6px 10px !important;

  background-color: #52492A !important;
  transition: 0.4s;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 200;
}

.StyledBoxModal {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 96% !important;
  background-color: rgb(255, 255, 255);
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.BoxModal__button {
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
  font-size: 2vw;
  border-radius: 0px !important;
}

.Swiper__main{
  height: 400px;
  width: 90vw;
  color: black;
}

.Swiper__image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.P_title{
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
  font-weight: 900;
}